<div>

    <h2 translate="data.education.header">Educations</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="data.education.periodEn">Period_en</th>
                    <th translate="data.education.periodHu">Period_hu</th>
                    <th translate="data.education.descriptionEn">Description_en</th>
                    <th translate="data.education.descriptionHu">Description_hu</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="education in educations">
                    <td>{{education.periodEn}}</td>
                    <td>{{education.periodHu}}</td>
                    <td>{{education.descriptionEn}}</td>
                    <td>{{education.descriptionHu}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(education.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> <span translate="global.label.edit">Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(education.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> <span translate="global.label.delete">Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveEducationModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span><span translate="global.label.create">Create</span>
    </button>
    <div class="modal fade" id="saveEducationModal" tabindex="-1" role="dialog" aria-labelledby="myEducationLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myEducationLabel" translate="global.label.createoredit">Create or edit</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="data.education.periodEn">Period_en</label>
                            <input type="text" class="form-control"
                                   ng-model="education.periodEn">
                        </div>
                        <div class="form-group">
                            <label translate="data.education.periodHu">Period_hu</label>
                            <input type="text" class="form-control"
                                   ng-model="education.periodHu">
                        </div>
                        <div class="form-group">
                            <label translate="data.education.descriptionEn">Description_en</label>
                            <input type="text" class="form-control"
                                   ng-model="education.descriptionEn">
                        </div>
                        <div class="form-group">
                            <label translate="data.education.descriptionHu">Description_hu</label>
                            <input type="text" class="form-control"
                                   ng-model="education.descriptionHu">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> <span translate="global.label.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> <span translate="global.label.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
