<div>

    <h2>Languagess</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveLanguagesModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Languages
    </button>
    <div class="modal fade" id="saveLanguagesModal" tabindex="-1" role="dialog" aria-labelledby="myLanguagesLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myLanguagesLabel">Create or edit a Languages</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="languages.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>NameEn</label>
                            <input type="text" class="form-control"
                                   ng-model="languages.nameEn">
                        </div>
                        <div class="form-group">
                            <label>NameHu</label>
                            <input type="text" class="form-control"
                                   ng-model="languages.nameHu">
                        </div>
                        <div class="form-group">
                            <label>LevelEn</label>
                            <input type="text" class="form-control"
                                   ng-model="languages.levelEn">
                        </div>
                        <div class="form-group">
                            <label>LevelHu</label>
                            <input type="text" class="form-control"
                                   ng-model="languages.levelHu">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NameEn</th>
                    <th>NameHu</th>
                    <th>LevelEn</th>
                    <th>LevelHu</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="languages in languagess">
                    <td>{{languages.id}}</td>
                    <td>{{languages.nameEn}}</td>
                    <td>{{languages.nameHu}}</td>
                    <td>{{languages.levelEn}}</td>
                    <td>{{languages.levelHu}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(languages.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(languages.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
