<div class="wellcome">
    <h2 class="wellcome-header" id="wellcome-top" translate="main.header">Wellcome</h2>

    <div id="floating-arrow">
        <a smooth-scroll target="wellcome-top" href><div class="glyphicon glyphicon-chevron-up skills"></div></a>
    </div>

        <p  class="justified-text" translate="main.header.description">Header description</p>

        <p  translate="main.header.sourcecode">Source code availabilty</p>
    
        <p style="text-align: center" translate="main.header.architecture.description">Architecture description</p>
    
        <div id="architecture-img"></div>

    <div class="section-header" translate="main.scaffolding.section">
        Scaffolding
    </div>
    
        <p translate="main.scaffolding.header">Scaffolding header description</p>

        <p translate="main.scaffolding.stack.description">Technology stack description:
            <li class="description-item" ><a smooth-scroll target="server-side" href translate="main.scaffolding.stack.server.side">Server side:</a><span translate="main.scaffolding.stack.server.description">Server description</span></li>
            <li class="description-item" ><a smooth-scroll target="client-side" href translate="main.scaffolding.stack.client.side">Client side:</a><span translate="main.scaffolding.stack.client.description">Client description</span></li>
            <li class="description-item" ><a smooth-scroll target="database" href translate="main.scaffolding.stack.database.side">Database side:</a><span translate="main.scaffolding.stack.database.description">Database description</span></li>
            <li class="description-item" ><a smooth-scroll target="development-processes" href translate="main.scaffolding.stack.processes.side">Development processes:</a><span translate="main.scaffolding.stack.processes.description">Processes description</span></li>
       </p>

        <p translate="main.scaffolding.functionality.description">Functionality description:
            <li class="description-item" translate="main.scaffolding.functionality.usermgmt">User management functionality</li>
            <li class="description-item" translate="main.scaffolding.functionality.crud">CRUD functionality</li>
            <li class="description-item" translate="main.scaffolding.functionality.admin">Admin functionality</li>
            <li class="description-item" translate="main.scaffolding.functionality.localization">Localization</li>
        </p>

        <p translate="main.scaffolding.footer">Footer description</p>

   <div class="section-header" id="database" translate="main.database.section">
        Databases
    </div>

    <p translate="main.database.header">Database header description</p>

        <p translate="main.database.relationalEntities.description">Relational entities description:
            <li class="description-item"><a href="#/company" translate="main.database.relationalEntities.company">Companies</a></li>
            <li class="description-item"><a href="#/project" translate="main.database.relationalEntities.project">Projects</a></li>
            <li class="description-item"><a href="#/technology" translate="main.database.relationalEntities.technology">Technologies</a></li>
            <li class="description-item"><a href="#/audits" translate="main.database.relationalEntities.user">Users and audit events</a></li>
       </p>

        <p translate="main.database.NoSQLEntities.description">NoSQL entities description:
            <li class="description-item"><a href="#/education" translate="main.database.NoSQLEntities.education">Education</a></li>
            <li class="description-item"><a href="#/languages" translate="main.database.NoSQLEntities.language">Language</a></li>
            <li class="description-item"><a href="#/knowledge" translate="main.database.NoSQLEntities.knowledge">Knowledge</a></li>
            <li class="description-item"><a href="#/other" translate="main.database.NoSQLEntities.other">Other</a></li>
       </p>

        <p translate="main.database.schema.management">Schema managmemnt descrition</p>

        <p translate="main.database.footer">Footer description</p>

   <div class="section-header" id="server-side" translate="main.server.section">
       Server side
    </div>

        <p translate="main.server.spring.description">Spring description:
            <li class="description-item"><span translate="main.server.spring.boot.description">Spring Boot description</span><a href="#/metrics" translate="main.server.spring.boot.metrics">Metrics</a>, <a href="#/health" translate="main.server.spring.boot.health">Health indicators</a>, <a href="#/logs" translate="main.server.spring.boot.loglevels">Log levles</a></li>
            <li class="description-item" translate="main.server.spring.data">Spring Data</li>
            <li class="description-item" translate="main.server.spring.mvc">Spring MVC</li>
            <li class="description-item" translate="main.server.spring.security">Spring Security</li>
       </p>

        <p translate="main.server.other.technologies">Other technologies description:
            <li class="description-item" translate="main.server.other.hibernate">Hibernate</li>
            <li class="description-item" translate="main.server.other.ehcahce">Ehcache</li>
            <li class="description-item" translate="main.server.other.swagger">Swagger</a></li>
            <li class="description-item" translate="main.server.other.thymeleaf">Thymeleaf</li>
       </p>


   <div class="section-header" id="client-side" translate="main.client.section">
        Client side
    </div>

        <p translate="main.client.angular.description">Client side description:
            <li class="description-item" translate="main.client.angular.ngResource">Angular Resource Service</li>
            <li class="description-item" translate="main.client.angular.ngRoute">Angular Router Service</li>
            <li class="description-item" translate="main.client.angular.translate">Angular Translate</li>
            <li class="description-item" translate="main.client.angular.smoothScroll">Angular Smooth Scroll</li>
       </p>

       <p translate="main.client.design">Design</p>

   <div class="section-header" id="development-processes" translate="main.processes.section">
       Development processes
    </div>

        <p translate="main.processes.description">Processes description:
            <li class="description-item" translate="main.processes.tools.maven">Maven</li>
            <li class="description-item" translate="main.processes.tools.bower">Bower</li>
            <li class="description-item" translate="main.processes.tools.karma">Karma</li>
       </p>
       
   <div class="section-header" id="hosting" translate="main.hosting.section">
        Hosting
    </div>

        <p translate="main.hosting.description">Hosting description:
            <li class="description-item" translate="main.hosting.mysql">Mysql Service</li>
            <li class="description-item" translate="main.hosting.mongo">Mongo Service</li>            
       </p>

       <p class="justified-text" translate="main.hosting.footer">Footer description</p>

</div>
