    <!-- Header -->
    <header>
        <div id="header-img"></div>
        <div class="intro-text">
            <div class="bottom-space">
                <span class="name" translate="public.header.maintitle">Curriculum Vitae</span>
                <hr class="star-light">
                <span class="motto" translate="public.header.motto">Motto</span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="purpose" translate="public.header.purpose.publish">Publish my CV</div>                    
                    <hr class="star-light">
                    <a class="header-link" href smooth-scroll target="experience">                            
                        <div class="skills" translate="public.header.experience">Relevant experience</div>
                    </a>
                    <a class="header-link" href smooth-scroll target="education">                            
                        <div class="skills" translate="public.header.education">Education</div>
                    </a>
                    <a class="header-link" href smooth-scroll target="motivation">                            
                        <div class="skills" translate="public.header.motivation">Motivation</div>
                        <div class="glyphicon glyphicon-chevron-down skills"></div>
                    </a>
                </div>                
                <div class="col-md-6">
                    <div class="purpose" translate="public.header.purpose.techexperience">Play with cutting edge technologies</div>                    
                    <hr class="star-light" class="glyphicon glyphicon-asterisk">
                    <a class="header-link" href smooth-scroll target="about">                            
                        <div class="skills" translate="public.header.techfirstline">Java2EE, Spring, NoSQL</div>
                        <div class="skills" translate="public.header.techsecondline">AngularJS, Bootstrap</div>
                        <div class="skills" translate="public.header.techthirdline">JHipster, Cloud Foundry</div>
                        <div class="glyphicon glyphicon-chevron-down skills"></div>
                    </a>
                </div>
            </div>
    </header>


<div ng-cloak>    

    <div id="floating-arrow">
        <a smooth-scroll target="header-img" href><div class="glyphicon glyphicon-chevron-up skills"></div></a>
    </div>

    <div class="section-header" id="experience" translate="public.body.experience">
        Relevant experience
    </div>

        <div ng-repeat="company in companys">

            <p class="big-item"><span class="big-item-name">{{getLocalizedValue(company, 'name')}}: </span>
                {{getLocalizedValue(company, 'period')}}</p>
            <p class="big-item-description">{{getLocalizedValue(company, 'description')}}</p>

            <div ng-switch="hasItems(company.projects)">
                <p class="big-item-description" ng-switch-when="true" translate="public.body.experience.projectheader">Delivered projects</p>

                <div ng-repeat="project in company.projects">
                    <p class="normal-item"><span class="normal-item-name">{{getLocalizedValue(project, 'name')}}: </span>
                        {{getLocalizedValue(project, 'description')}}

                        <div ng-switch="hasItems(project.technologys)" class="small-item">
                            <span class="small-item-header" ng-switch-when="true" translate="public.body.experience.technologyHeader">Technologies:</span>
                                <span ng-repeat="technology in project.technologys track by $index"><span ng-if="$index > 0">, </span>{{technology.name}}</span>
                        </div>
                        </br>
                    </p>
                </div>

            </div>

        </div>


    <div class="section-header" id="education" translate="public.body.education">
        Education, Knowledge
    </div>

        <div ng-repeat="education in educations">
            <p class="normal-item">
                <span class="normal-item-name">{{getLocalizedValue(education, 'period')}}:</span>
                {{getLocalizedValue(education, 'description')}}
            </p>
        </div>

        <p class="inner-section" translate="public.body.relevantknowledge">Relevant knowledge</p>

        <div ng-repeat="knowledge in knowledges">
            <p class="normal-item">
                <span class="normal-item-name">{{getLocalizedValue(knowledge, 'category')}}:</span>
                {{getLocalizedValue(knowledge, 'details')}}
            </p>
        </div>

         <p class="inner-section" translate="public.body.languageskills">Language skills</p>

        <div ng-repeat="language in languages">
            <p class="normal-item">
                <span class="normal-item-name">{{getLocalizedValue(language, 'name')}}:</span>
                {{getLocalizedValue(language, 'level')}}
            </p>
        </div>

        <p class="inner-section" translate="public.body.others">Other experience</p>

        <div ng-repeat="other in others">
            <p class="normal-item">
                <span class="normal-item-name">{{getLocalizedValue(other, 'category')}}:</span>
                {{getLocalizedValue(other, 'description')}}
            </p>
        </div>

    <div class="section-header" id="motivation" translate="public.body.motivation">
        Motivation
    </div>

            <p translate="public.body.motivation.description">Motivation description</p>
           
            <p style="float: right"><span translate="public.body.download">Download: </span><a ng-href={{getLocalizedCVFile()}}><span class="glyphicon glyphicon-download-alt"></span></a></p>

    <div class="section-header" id="about" translate="public.body.about">
        About CV App
    </div>

        <p translate="public.body.about.header" translate="public.body.about.header">Header description
            <li class="description-item" translate="public.body.about.server">Server side description</li>
            <li class="description-item" translate="public.body.about.database">Database side description</li>
            <li class="description-item" translate="public.body.about.client">Client side description</li>
            <li class="description-item" translate="public.body.about.design">Design description</li>
            <li class="description-item" translate="public.body.about.hosting">Hosting side description</li>
       </p>

        <p translate="public.body.about.footer">Footer description</p>
        </br>

</div>
