<div>

    <h2 translate="data.technology.header">Technologys</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="data.technology.name">Name</th>
                    <th translate="data.technology.description">Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technology in technologys">
                    <td>{{technology.name}}</td>
                    <td>{{technology.description}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(technology.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span><span translate="global.label.edit">Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(technology.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span><span translate="global.label.delete">Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveTechnologyModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span><span translate="global.label.create">Create</span>
    </button>
    <div class="modal fade" id="saveTechnologyModal" tabindex="-1" role="dialog" aria-labelledby="myTechnologyLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTechnologyLabel" translate="global.label.createoredit">Create or edit</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="data.technology.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="technology.name">
                        </div>
                        <div class="form-group">
                            <label translate="data.technology.description">Description</label>
                            <input type="text" class="form-control"
                                   ng-model="technology.description">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span><span translate="global.label.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span><span translate="global.label.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
